    body {
        overflow-x: hidden;
    }
    h4 {
        padding: 8px 20px 8px 0;
    }
    span {
        color: #d24545;
    }

    .checkbox-container {
        display: flex;
        position: relative;
    }
    
    .checkbox-container input[type="checkbox"] {
        display: none;
    
    }
    
    .checkbox-container label {
        cursor: pointer;
        padding-left: 30px;

    }
    
    .checkbox-container input[type="checkbox"] + label::before {
        content: "";
        width: 18px;
        height: 18px;
        background-color: white;
        border: 1px solid #aaa;
        position: absolute;
        left: 0px; 
        top: 35%;
        transform: translateY(-50%);
        text-wrap: nowrap;
    }
 
    .checkbox-container input[type="checkbox"]:checked + label::before {
        background-color: #999999; 
        content: "\2713"; 
        color: white;
        text-align: center;
        line-height: 18px;
    }

