.checkbox-container {
    display: flex;
    position: relative;
  }
  
  /* Initially hide the checkbox */
  .checkbox-container input[type="checkbox"] {
    display: none;
  
  }
  
  /* Style the label */
  .checkbox-container label {
    cursor: pointer;
    padding-left: 30px; /* Add space for the checkbox */

  }
  
  /* Style the custom checkbox */
  .checkbox-container input[type="checkbox"] + label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid #aaa;
    position: absolute;
    left: 0px; /* Position the checkbox */
    top: 35%;
    transform: translateY(-50%);
    text-wrap: nowrap;
  }
  
  /* Style the custom checkbox when it's checked */
  .checkbox-container input[type="checkbox"]:checked + label::before {
    background-color: #999999; /* Change color to indicate it's checked */
    content: "\2713"; /* Add checkmark */
    color: white;
    text-align: center;
    line-height: 18px;


  }
  h4 {
    padding: 8px 20px 8px 0;

}
span {
    color: #d24545;
}

